# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Trained ML models
models/*.pkl
models/*.joblib

# Python build files
*.egg-info/
dist/
build/

# IDE files
.vscode/
.idea/
